Repository IvanLi-CN/stm32g4-flash-programmer: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, rust-clippy, markdown-lint, trailing-whitespace

rust-fmt:
  run: 'echo "🎨 Checking Rust code formatting..."
  
    cd protocol && cargo fmt --check
  
    cd ../host-tool && cargo fmt --check
  
    cd ../firmware && cargo fmt --check
  
    '
  stage_fixed: true

rust-clippy:
  run: 'echo "🔍 Running Rust clippy checks..."
  
    cd protocol && cargo clippy -- -D warnings
  
    cd ../host-tool && cargo clippy -- -D warnings
  
    cd ../firmware && cargo clippy -- -D warnings
  
    '

markdown-lint:
  run: "echo \"\U0001F4DD Checking markdown documentation...\"\nif command -v markdownlint-cli2 >/dev/null 2>&1; then\n  markdownlint-cli2 \"**/*.md\" \"#target\" \"#node_modules\"\nelse\n  echo \"⚠️  markdownlint-cli2 not found. Install with: npm install -g markdownlint-cli2\"\n  echo \"Skipping mark
  ...

trailing-whitespace:
  run: "echo \"\U0001F9F9 Checking for trailing whitespace...\"\nif grep -r '[[:space:]]$' --include=\"*.rs\" --include=\"*.md\" --include=\"*.yml\" --include=\"*.yaml\" --include=\"*.toml\" --exclude-dir=node_modules --exclude-dir=target .; then\n  echo \"❌ Found trailing whitespace. Please remove it
  ...

fix(ci): correct binary target name
  .github/workflows/ci.yml
Due: trailing-whitespace

docs: enhance flash-content-generator documentation
  examples/flash-content-generator/README.md
  examples/flash-content-generator/assets/memory_map.txt
  examples/flash-content-generator/tools/flash_composer.py
  examples/flash-content-generator/tools/resource_manager.py
  examples/flash-content-generator/web-app/README.md
  host-tool/README.md
  tools/check_flash_address.py
  tools/verify_flash_image.py
Due: markdown-lint, trailing-whitespace

fix(ci): activate english-only rule in commitlint config
  commitlint.config.cjs
Due: none

docs: fix misleading web app functionality descriptions
  README.md
  docs/development.md
  examples/flash-content-generator/web-app/README.md
  examples/stm32g431-w25q128jv/FLASH_PROGRAMMING_GUIDE.md
Due: markdown-lint, trailing-whitespace

feat: increase spi clock to 20mhz
  firmware/src/main.rs
Due: rust-fmt, rust-clippy, trailing-whitespace

feat(fonts): add Arial and Grotesk fonts, remove Spleen dependency
  examples/flash-content-generator/assets/Arial_round_16x24.c
  examples/flash-content-generator/assets/GroteskBold24x48.c
  examples/flash-content-generator/assets/resource_layout.json
  examples/flash-content-generator/tools/c_array_font_converter.py
  examples/flash-content-generator/tools/custom_font_generator.py
  examples/flash-content-generator/tools/flash_composer.py
  examples/flash-content-generator/tools/font_converter.py
  examples/flash-content-generator/web-app/README.md
  examples/flash-content-generator/web-app/index.html
  examples/flash-content-generator/web-app/script.js
Due: markdown-lint, trailing-whitespace

feat: Add elegant pink boot screen design for USB PD Sink
  examples/flash-content-generator/CUSTOM_FONTS_README.md
  examples/flash-content-generator/FINAL_SUMMARY.md
  examples/flash-content-generator/PROJECT_SUMMARY.md
  examples/flash-content-generator/QUICK_START.md
  examples/flash-content-generator/STM32_FONT_USAGE.md
  examples/flash-content-generator/WEB_APP_UPDATE_SUMMARY.md
  examples/flash-content-generator/assets/boot_screen_simple.svg
  examples/flash-content-generator/font_tools.py
  examples/flash-content-generator/tools/algorithmic_font_generator.py
  examples/flash-content-generator/tools/convert_svg_to_rgb565.py
  examples/flash-content-generator/tools/font_viewer.py
  examples/flash-content-generator/tools/verify_fonts_in_flash.py
  examples/flash-content-generator/web-app/start_server.py
Due: markdown-lint, trailing-whitespace

docs: clean up flash-content-generator docs
  examples/flash-content-generator/CUSTOM_FONTS_README.md
  examples/flash-content-generator/FINAL_SUMMARY.md
  examples/flash-content-generator/PROJECT_SUMMARY.md
  examples/flash-content-generator/QUICK_START.md
  examples/flash-content-generator/README.md
  examples/flash-content-generator/STM32_FONT_USAGE.md
  examples/flash-content-generator/WEB_APP_UPDATE_SUMMARY.md
Due: markdown-lint, trailing-whitespace

Path conditions:
  rust-fmt: any of: *.rs
  rust-clippy: any of: *.rs
  markdown-lint: any of: *.md
  trailing-whitespace: any of: *.{rs,md,yml,yaml,toml}
